.dateinput{
    /* height: 20px; */
    width: 170px;
    padding: 0;
}

.dateinput::-webkit-calendar-picker-indicator{
    width: 30px;
    height: 25px;
    padding: 0;
    /* background-color: blue; */
    color: green;
}